<!doctype html>
<html lang="en">
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!--mi css-->
        <link rel="stylesheet" href="../css/style.css">

        <title>ML Indumentaria</title>
  </head>
    <body class="body-1">
        <!--inicia nav-->
        <nav class="navbar navbar-expand-md navbar-light bg-nav">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="../index.html">ML Indumentaria</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ul-lia">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../views/quienessomos.html">Quienes somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="../views/remreas.html">Remeras</a></li>
                                <li><a class="dropdown-item" href="../views/opcionesdeestampa.html">Opciones de Estampa</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="../views/promos.html">Promos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--termina nav-->
        <header class="header">
            <div class="container-fluid w-100">
            
                <h1 class="text-center">Promos</h1>
                <h3 class="text-center">50% off</h3>
                <div class="row">
                    
                    
                    <figure class="col-sm-12 col-md-6 col-lg-3 figure">
                        <img src="../recursos/img/modelo verde 1.png" alt="" class="w-100">
                        <figcaption class="text-center figcaption">$Model Ornamental$</figcaption>
                        <p class="text-center p-p-p">15%off Xmayor</p>
                    </figure>
                    <figure class="col-sm-12 col-md-6 col-lg-3 figure">
                        <img src="../recursos/img/ornamento grande.png" alt="" class="w-100">
                        <figcaption class="text-center figcaption">$Ornamental$</figcaption>
                    </figure>
                    <figure class="col-sm-12 col-md-6 col-lg-3 figure">
                        <img src="../recursos/img/mandalitas.png" alt="" class="w-100">
                        <figcaption class="text-center figcaption">$Mini Mandala$</figcaption>
                    </figure>
                    <figure class="col-sm-12 col-md-6 col-lg-3 figure">
                        <img src="../recursos/img/modelo negra1.png" alt="" class="w-100">
                        <figcaption class="text-center figcaption">$Model Mandala$</figcaption>
                        <p class="text-center p-p-p">10%off combinando diseño</p>
                    </figure>
                   
                    
                </div>
            </div>        
        </header>
        <footer class="bg-nav py-4 text-center">
            <div class="container-luid">
                <a href="../index.html" class="logo">ML Indumentaria</a>
            </div>
            <a href="../https://www.facebook.com" target="_blank">
                <img src="../recursos/img/facebook.png" alt="">
        
            </a>
            <a href="../https://instagram.com/cattalunia_" target="_blank">
                <img src="../recursos/img/instagram.png" alt="">
                
             </a>
            <a href="../https://www.tiktok.com" target="_blank">
                <img src="../recursos/img/tik-tok.png" alt="">
            </a>
        </footer>
      
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
    </body>
</html>